pipeline/Varpipeline.json
{
	"name": "Varpipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_copy1",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sink_get_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Storedvariable",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_file",
					"value": {
						"value": "@activity('Get Metadata_copy1').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_file": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-27T08:10:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}